<div class="container">
  <div class="prec">
    <p>Precipitation Chance:</p>
    <p>{{ precipProbability }}</p>
  </div>
  <div class="wind">
    <p>Wind:</p>
    <p>{{windSpeed}} {{windDirection}}</p>
  </div>
  <div class="hum">
    <p>Humidity:</p>
    <p>{{ humidity }}</p>
  </div>
  <div class="vis">
    <p>Visibility:</p>
    <p>{{ visibility }}</p>
  </div>
  <div class="uv">
    <p>UV Index:</p>
    <p>{{ uvIndex }}</p>
  </div>
  <div class="cc">
    <p>Cloud Cover:</p>
    <p>{{ cloudCover }}</p>
  </div>
  <div class="pre">
    <p>Pressure: </p>
    <p>{{ pressure }}</p>
  </div>
</div>
